@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #000000;
    text-align: center;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 175px;
    padding-bottom: 50px;
}

span {
    letter-spacing: 0.04em;
}

button {
    background: #6C3497;
    box-shadow: 0px 18px 40px rgba(198, 0, 248, 0.35);
    color:#FFFFFF;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    font-weight: 550;
    font-size: 16px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.botoes-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 70px;
        margin-top: 150px;
    }

    .botoes-container {
        flex-direction: flex;
        justify-content: center;
        gap: 10px;
    }

    button {
        width: 80px;
        height: 50px;
        font-size: 14px;
    }
}


@media screen and (max-width: 430px) {
    h1 {
        font-size: 60px;
        margin-top: 150px;
    }

    .botoes-container {
        flex-direction: flex;
        justify-content: center;
        gap: 10px;
    }

    button {
        width: 80px;
        height: 50px;
        font-size: 14px;
    }
}